<section class="about-show"> 
  <div class="jumbotron">
    <header>
      <div class="header-text"> 
        <h1 class="display-4">About Us</h1>
        <p class="lead">Welcome to Jungle, your one-stop destination for the most exquisite and unique plants. At Jungle, we are passionate about bringing the beauty of nature into your home or office, making every space a green oasis. Our mission is to provide you with a wide selection of plants that not only enhance your environment but also contribute to a healthier, more vibrant lifestyle.</p>
      </div>
      <div class="about-image">
        <%= image_tag @product_image %>
      </div>
    </header>
    <hr class="my-4">
    <div class="about-body">
      <p>At Jungle, we understand that choosing the right plant can make a significant difference in your well-being and the overall aesthetic of your space. That's why we meticulously curate our collection to include a variety of plants suitable for different environments, from indoor settings to outdoor gardens. Whether you're looking for a low-maintenance indoor plant or a lush, green outdoor addition, Jungle has something for everyone.</p>
      <p>Our commitment to quality extends beyond our selection of plants. We are dedicated to providing you with exceptional customer service, ensuring that you receive the best care and support for your plants. From delivery to after-sales service, we are here to make your plant shopping experience as seamless and enjoyable as possible.</p>
      <p>Join us at Jungle, where every plant tells a story of nature's beauty and resilience. Explore our collection today and discover the perfect plant to bring your space to life.</p>
    </div>
    <p class="lead">
      <a class="btn btn-success btn-lg" href=products_path role="button">Explore the Jungle!</a>
    </p>
  </div>
</section>